body{
	background-color: #000;
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
}

body,
a,
a:hover{
	color: #fff;
}

.container{
	position: relative;
	margin-top: 250px;
}

pre,
.xdebug-error{
	position: absolute;
	top: 0;
	left: 0;
}