body {
  background: #000;
}
#core {
  position: relative;
  width: 1920px;
  height: 1080px;
}
#core .section {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
#core .section img {
  position: absolute;
  display: none;
  z-index: 0;
}
#core a {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  z-index: 1;
}
#core a#up {
  top: 0;
  right: 865px;
  height: 625px;
  width: 585px;
}
#core a#right {
  top: 0;
  right: 0;
  width: 850px;
  height: 1080px;
}
#core a#down {
  right: 865px;
  bottom: 0;
  width: 585px;
  height: 430px;
}
#core a#left {
  width: 455px;
  top: 0;
  left: 0;
  height: 1080px;
}
