body {
  background: #000;
}
#core {
  outline: 4px solid blue;
  position: relative;
  width: 1920px;
  height: 1080px;
}
#core .section {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
#core .section img {
  position: absolute;
  display: none;
  z-index: 0;
}
#core a {
  position: absolute;
  display: block;
  outline: 1px solid red;
  width: 200px;
  height: 200px;
  z-index: 1;
}
#core a#up {
  top: 0;
  left: 770px;
  height: 500px;
  width: 680px;
}
#core a#right {
  top: 0;
  right: 0;
  width: 455px;
  height: 1080px;
}
#core a#down {
  right: 469px;
  bottom: 0;
  width: 680px;
  height: 560px;
}
#core a#left {
  width: 755px;
  top: 0;
  left: 0;
  height: 1080px;
}
